body {
}

#anhAnh{
    

    width: 259px;
    height: auto;
    border: 2px solid #0d9214;

    

}
    #anhAnh:hover {
        opacity: 1;
        transition: 0.4s;
        border: 2px solid #e718e9;
    }
#divchuaanh{
    width: 100%;


}
#divchuaanh .container{
    width: 80%; 
    margin: auto; 

}
