body {
    background-color: gainsboro;
    margin: 0;
    font-family: sans-serif;

}
 #anh1{
     display: block;
     width: 50%;
     height: auto;
     margin: auto;
     border: 5px solid #d90cc2;
     border-radius: 50px;


 }
 #anh1:hover{
     width: 70%;
     transition: 0.7s;


 }


 #div1{
     text-align: center;
     border: 10px solid #168fa5;
     padding: 5px;
     font-size: 80px;
     color: #d90cc2;
     background-color: mistyrose;
     border-radius: 20px;
     


 }
 #div1:hover{
     background-color: bisque;
     transition: 0.2s;
     color: #12821b;

 }
 #ul1{
     

     list-style-type: none;
     text-align:center;
     margin-top: 4px;
     margin-bottom: 4px;
     margin-left: -40px;
     


 }
#li1 {
    display: inline-block;
    background-color: #d58d8d;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;


}
    #li1:hover  {
        background-color: #f13131;
        transition: 0.6s;
        padding-top: 15px;
        padding-bottom: 15px;
    }
a {
    text-decoration: none;
    color: #12821b;
    font-weight: bold;
    font-size: 20px;

}
    a:hover {
        color: white;
    }
    
hr{
    background-color: forestgreen;
   height: 3px;
   margin-top: 30px;
   margin-left: 100px; 
   margin-right: 100px;


}
#div_cuoi {
    background-color: #bbcbf3;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 32px;
   
   


   
    width: 100%;
}
#div_cuoi > ul{
    text-align: center;
    list-style-type: none;
    font-size: 20px;


}
#div_cuoi > ul > li {
    color: #10358d;

}
#a_cuoi:hover{
    color: #bfbc16;
}

video {
    width: 259px;
    height: auto;
    border: 2px solid #0d9214;
    opacity: 0.6;
}
    video:hover {
        opacity: 1;
        transition: 0.4s;
        border: 2px solid #e718e9;
    }